<!-- Navbar -->
<nav class="navbar navbar-expand-lg container">
  <a class="navbar-brand" href="#">Disney</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Personajes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Películas</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Contenido de la página -->
<div class="container">
  <h2 class="mt-5">Personajes de Disney</h2>
  <div class="row">
    @for(personajeDisney of personajes; track personajeDisney.id){
    <div class="col-md-4 mb-5">
      <div class="card">
        <img src="{{personajeDisney.imageUrl}}" class="card-img-top" alt="{{personajeDisney.id}}">
        <div class="card-body">
          <h5 class="card-title">{{personajeDisney.name}}</h5>
          <p class="card-text">{{personajeDisney.description}}</p>
          <a href="#" class="btn">Ver más</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>